#titulo {
    font-size: xx-large;
}
#conteudo-card {
    text-align: center;
    font-size: large;
    padding: 2vh;
}
#btn-revisao {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#btn-acerto-erro {
    font-size: large;
}