<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decks</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'deck_app/css/styles.css' %}">

    <!-- Bootstrap Framework -->
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap-5.3.3/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div id="main-container-decks">
        <div id="main-content-decks">
            <div id="linha-principal">
                <h1>Decks</h1>
                <button id="btn-addDeck" class="btn btn-primary" type="submit">+</button>
            </div>
            <div id="content-decks-list">
                {% for deck in decks %}
                <button id="btn-deck" type="button" class="btn btn-primary" data-bs-toggle="button">{{deck}}</button>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>