{% extends "../base.html" %}

{% load static %}
{% block importar_css %}<link rel="stylesheet" href="{% static 'deck_app/css/styles.css' %}">{% endblock %}

{% block conteudo %}
<div id="esquerda">
    <div id="linha-principal">
        <h1>Decks</h1>
        <a href="/logout"><button id="btn-logout" class="btn btn-primary"  type="button">Sair</button></a>
        <button id="btn-addDeck" class="btn btn-primary" type="button">+</button>
        
    </div>
    <div id="content-decks-list">
        {% for deck in decks %}
        <a href="/"></a><button id="btn-deck" type="button" class="btn btn-primary" data-bs-toggle="button">{{deck}}</button>
        {% endfor %}
    </div>
</div>
<div id="direita">
    <div id="novo-deck" class="">
        <form action="" method="post">
            {% csrf_token %}
            <label for="titulo-deck" class="form-label col-12">Título do Novo Deck</label>
            <input type="text" name="titulo-deck" class="form-control" placeholder="Título do novo Deck" required>
    
            <label for="descricao" class="form-label col-12">Descrição (opcional)</label>
            <textarea class="form-control" name="descricao" id="descricao" rows="5" placeholder="Descrição..."></textarea>
    
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="button" class="btn btn-secondary">Cancelar</button>
        </form>
        {% if mensagem %}
            <div class="alert alert-warning" role="alert">
                {{ mensagem }}
            </div>
        {% endif %}
    </div>
    <div id="visao-geral-deck" class="hide">
        
    </div>
</div>
{% endblock %}