{% extends "../base.html" %}

{% load static %}
{% block importar_css %}<link rel="stylesheet" href="{% static 'deck_app/css/styles.css' %}">{% endblock %}

{% block conteudo %}
<div id="esquerda">
    <div id="linha-principal">
        <h1>Decks</h1>
        <button id="btn-addDeck" class="btn btn-primary" type="button">+</button>
        
    </div>
    <div id="content-decks-list">
        {% for deck in decks %}
        <a href="/"></a><button id="btn-deck" type="button" class="btn btn-primary" data-bs-toggle="button">{{deck}}</button>
        {% endfor %}
    </div>
</div>
<div id="centro">
    <div id="novo-deck" class="hide">
        <form action="" method="post">
            {% csrf_token %}
            <label for="titulo-deck" class="form-label col-12">Título do Novo Deck</label>
            <input type="text" name="titulo-deck" class="form-control" placeholder="Título do novo Deck" required>
    
            <label for="descricao" class="form-label col-12">Descrição (opcional)</label>
            <textarea class="form-control" name="descricao" id="descricao" rows="5" placeholder="Descrição..."></textarea>
    
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="reset" class="btn btn-secondary">Cancelar</button>
        </form>
        {% if mensagem %}
            <div class="alert alert-warning" role="alert">
                {{ mensagem }}
            </div>
        {% endif %}
    </div>
    <div id="visao-geral-deck" class="">
        <div id="info-deck">
            <div id="estatisticas-deck">
                <h2>Acertos: </h2>
                <h3>Erros: </h3>
            </div>
            <div id="btns-revisar-cards-deck">
                <button class="btn btn-primary" type="submit">Começar Revisão
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
                    </svg>
                </button>
                <button class="btn btn-primary" type="submit">Cards por Sessão</button>
            </div>
            <div id="cards-deck">
                
            </div>
        </div>
    </div>
</div>
<div id="direita">
    <a href="/logout"><button id="btn-logout" class="btn btn-primary"  type="button">Sair</button></a>
</div>
{% endblock %}