{% extends "../base.html" %}

{% block titulo %}Deletar Card{% endblock %}

{% load static %}
{% block importar_css %}<link rel="stylesheet" href="{% static 'deck_app/css/styles.css' %}">{% endblock %}

{% block conteudo %}
    <form class="confirmar-delecao" action="/decks/infodeck/{{pk}}/deletar/{{object.pk}}/" method="post">
        {% csrf_token %}
        <center>
            <div role="alert">
                <p>Tem certeza que deseja excluir o card <strong>{{object}}</strong>?</p>
            </div>
            <input type="submit" value="Confimar" class="btn btn-danger">
            <a class="btn btn-secondary" aria-current="page" href="/decks">Cancelar</a>
        </center>
    </form>
{% endblock %}