{% extends "../base.html" %}

{% block titulo %}Editar Deck{% endblock %}

{% load static %}
{% block importar_css %}<link rel="stylesheet" href="{% static 'deck_app/css/styles.css' %}">{% endblock %}

{% block conteudo %}
    <div>
        <div id="info-deck-janela">
            <h1>Editar Deck</h1>
            <div class="novo-deck">
                <form action="/decks/{{object.pk}}/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="titulo-deck" class="form-label col-12">Título do Deck</label>
                    {{form.titulo}}

                    <label for="descricao" class="form-label col-12">Descrição (opcional)</label>
                    {{form.descricao}}

                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a id="btn-cancelar-novodeck" class="btn btn-secondary" aria-current="page" href="/decks">Cancelar</a>
                </form>
            </div>
        </div>
        <div id="btn-editar-div">
            <a id="btn-editar-cards" class="btn btn-primary" aria-current="page" href="cards/">Editar Cards</a>
        </div>
    </div>
{% endblock %}
