{% extends "../base.html" %}

{% block titulo %}Editar Deck{% endblock %}

{% load static %}
{% block importar_css %}<link rel="stylesheet" href="{% static 'deck_app/css/styles.css' %}">{% endblock %}

{% block conteudo %}
    <div class="container">
        <div id="header-cards" class="">
            <h1>{{deck}}</h1>
            <div id="btns-revisar-addcard">
                <a id="btn-addDeck" href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="blue" class="bi bi-play-fill" viewBox="0 0 16 16">
                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
                    </svg>
                </a>
                <a id="btn-addDeck" href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
                        <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1zm1 12h2V2h-2zm-3 0V7H7v7zm-5 0v-3H2v3z"/>
                    </svg>
                </a>
                <a id="btn-addDeck" class="nav-link active" aria-current="page" href="/decks/infodeck/{{deck.id}}/novocard/">+</a>
            </div>
        </div>
        <div class="cards">
            {% for card in cards %}
                <div class="card">
                    {{card.frente}}
                    <br><hr>
                    {{card.verso}}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}