{% extends "../base.html" %}

{% block titulo %}Editar Deck{% endblock %}

{% load static %}
{% block importar_css %}<link rel="stylesheet" href="{% static 'deck_app/css/styles.css' %}">{% endblock %}

{% block conteudo %}
    <div class="container">
        <div id="header-cards" class="">
            <h1>{{deck}}</h1>
            <a id="btn-addDeck" class="nav-link active" aria-current="page" href="novocard/">+</a>
        </div>
        <div class="cards">
            {% for card in cards %}
                <div class="card">
                    {{card.frente}}
                    <br><hr>
                    {{card.verso}}
                </div>
            {% endfor %}
        </div>
        <!--<div class="buttons">
            <button class="btn salvar">Salvar</button>
            <button class="btn cancelar">Cancelar</button>
        </div>-->
    </div>
{% endblock %}