#btn-revisao {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#titulo {
    font-size: xx-large;
}
#nome-deck {
    font-size: xx-large;
}
#ultima-revisao {
    font-size:medium;
}