<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="FlashApp logo" src="assets/LogoV3.png" />

    <ion-item>
      <ion-input label="Nome" labelPlacement="stacked" name="username" [(ngModel)]="instancia.username" [clearInput]="true" type="text" placeholder="Digite seu nome (sem espaços)" value=""></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="E-mail" labelPlacement="stacked" name="email" [(ngModel)]="instancia.email" [clearInput]="true" type="email" placeholder="Digite seu e-mail" value=""></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input label="Senha" labelPlacement="stacked" name="password" [(ngModel)]="instancia.password" [clearOnEdit]="true" type="password" placeholder="Digite sua senha"></ion-input>
    </ion-item>
  </ion-card>
  <ion-button expand="block" (click)="cadastrarUsuario()" color="success">Cadastrar</ion-button>
  <ion-button expand="block" (click)="cancelarCadastro()" color="medium">Cancelar</ion-button>
</ion-content>
