{% extends "../base.html" %}

{% block titulo %}Revisão{% endblock %}

{% load static %}

{% block importar_css %}<link rel="stylesheet" href="{% static 'revisar_app/css/styles.css' %}">{% endblock %}

{% block conteudo %}
    <div id="container">
        <div id="card">
            <div id="card-content">
                <div id="frente" class="">
                    <p id="valor-frente"></p>
                </div>
                <div id="verso" class="hide">
                    <p id="valor-verso"></p>
                </div>
            </div>
        </div>
        <div id="buttons">
            <button onclick="contarErro()" class="btn btn-danger btn-revisao">Errei</button>
            <button onclick="girarCard()" class="btn btn-primary btn-revisao">↻</button>
            <button onclick="contarAcerto()" class="btn btn-success btn-revisao">Acertei</button>
        </div>
    </div>

    <script defer>
        let isFlipped = false;
        let erros = 0;
        let acertos = 0;
        let cardEmRevisao = 0;
        
        let cards = "{{cards.all|safe}}";

        // Remover partes desnecessárias
        cards = cards.replace("<QuerySet [", "").replace("]>", "").trim();

        // Separar os elementos pelo delimitador ', '
        let cardElements = cards.split(", ");

        // Criar arrays para armazenar os valores separados
        let valoresFrente = [];
        let valoresVerso = [];

        // Iterar sobre cada elemento, removendo tags HTML e separando valores
        cardElements.forEach(card => {
            // Remover o prefixo "Card:", tags HTML e caracteres especiais
            let cleanCard = card.replace(/<Card: /, "").replace(/>/, "").trim();
            
            // Separar pelo delimitador " | "
            let parts = cleanCard.split(" | ");
            
            // Obter o valor antes do delimitador
            let valorAntes = parts[0].trim();
            
            // Obter o valor depois do delimitador
            let valorDepois = parts[1].trim();
            
            // Adicionar aos arrays respectivos
            valoresFrente.push(valorAntes);
            valoresVerso.push(valorDepois);
        });

        fazerRevisao(cardEmRevisao);

        function fazerRevisao(cardEmRevisao){
            if (cardEmRevisao >= valoresFrente.length){
                window.location = "http://127.0.0.1:8000/decks/infodeck/{{deck.id}}/";
            }

            let frente = document.getElementById('valor-frente').textContent = valoresFrente[cardEmRevisao];
            let verso = document.getElementById('valor-verso').textContent = valoresVerso[cardEmRevisao];
        }
    
        function girarCard() {
            var card = document.getElementById('card');
            var frontContent = document.getElementById('frente');
            var backContent = document.getElementById('verso');
            
            if (!isFlipped) {
                card.classList.add('flipped');
                frontContent.classList.add('hide');
                backContent.classList.remove('hide');
            } else {
                card.classList.remove('flipped');
                frontContent.classList.remove('hide');
                backContent.classList.add('hide');
            }

            if (!isFlipped){
                isFlipped = true;
            }
            else{
                isFlipped = false;
            }
        }

        function contarErro(){
            erros += 1;
            cardEmRevisao++;
            fazerRevisao(cardEmRevisao);
        }

        function contarAcerto(){
            acertos += 1;
            cardEmRevisao++;
            fazerRevisao(cardEmRevisao);
        }
    </script>
{% endblock %}
