{% extends "../base.html" %}

{% block titulo %}Revisão{% endblock %}

{% load static %}

{% block importar_css %}<link rel="stylesheet" href="{% static 'revisar_app/css/styles.css' %}">{% endblock %}

<!-- Exemplo para acessar variáveis
    {{deck}} <br>
    {% for card in cards %}
        {{card}}
    {% endfor %}
-->

{% block conteudo %}
    <div id="container">
        <div id="card">
            {% for card in cards %}
            <div id="card-content">
                <div id="frente" class="">
                    <p id="valor-frente">{{card.frente}}</p>
                </div>
                <div id="verso" class="hide">
                    <p id="valor-verso">{{card.verso}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="buttons">
            <button onclick="" class="btn btn-danger btn-revisao">Errei</button>
            <button onclick="girarCard()" class="btn btn-primary btn-revisao">↻</button>
            <button onclick="" class="btn btn-success btn-revisao">Acertei</button>
        </div>
    </div>

    <script defer>
        let isFlipped = false;
        let erros = 0;
        let acertos = 0;
    
        function girarCard() {
            var card = document.getElementById('card');
            var frontContent = document.getElementById('frente');
            var backContent = document.getElementById('verso');
            
            if (!isFlipped) {
                card.classList.add('flipped');
                frontContent.classList.add('hide');
                backContent.classList.remove('hide');
            } else {
                card.classList.remove('flipped');
                frontContent.classList.remove('hide');
                backContent.classList.add('hide');
            }

            if (!isFlipped){
                isFlipped = true;
            }
            else{
                isFlipped = false;
            }
        }
    </script>
{% endblock %}
