* {
    background-color: #151F35;

}

#main-container-home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#cartao-home {
    color: white;
}

#cartao-home img {
    border: 1px white solid;
}
#cartao-home p {
    font-size: 22px;
}

