.hide {
    display: none;
}

#main-container-decks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0D1526;
}
#main-content-decks {
    display: flex;
    height: 90vh;
    width: 180vh;
    border-radius: 30px;
    background-color: #151F35;
}
#linha-principal {
    background-color: #151F35;
    display: flex;
    align-items: center;
    border-radius: 30px;
}
#main-content-decks h1 {
    margin-top: 3vh;
    margin-left: 3vh;
    color: white;
    background-color: #151F35;
    border-radius: 20px;
}
#btn-logout {
    margin-top: 3vh;
    border-color: #23DA72;
    background-color: #23DA72;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.493);
}
#btn-addDeck {
    color: white;
    height: 5vh;
    width: 5vh;
    margin-top: 3vh;
    margin-left: 25vh;
    font-size: xx-large;
    border-color: #23DA72;
    background-color: #23DA72;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.493);
}
#btn-addDeck:hover, #btn-logout:hover {
    background-color: #169c50;
    border-color: #169c50;
}
#content-decks-list {
    width: 50vh;
    height: 79.5vh;
    background-color:#151F35;
    overflow-y: auto;
    border-radius: 30px;
}
#btn-deck {
    background-color: #23DA72;
    border-color: #23DA72;
    margin-left: 3vh;
    margin-bottom: 1vh;
    width: 45vh;
    padding: 2vh;
    text-align: left;
    font-size: large;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.493);
}
#btn-deck:hover {
    background-color: #169c50;
    border-color: #169c50;
}
#novo-deck {
    margin-top: 4vh;
    height: 50vh;
    width: 90vh;
    padding: 3vh;
    border-radius: 20px;
    background-color: #23DA72;
}
#novo-deck label, form {
    font-size: x-large;
    color: white;
    background-color: #23DA72;
}
#novo-deck button {
    margin-top: 2vh;
}
#info-deck {
    margin-top: 4vh;
    height: 85vh;
    width: 102vh;
    padding: 3vh;
    border-radius: 20px;
    background-color: #23DA72;
}
#estatisticas-deck h2 {
    color: white;
}
#estatisticas-deck h3 {
    color: white;
}
#btns-revisar-cards-deck {
    color: white;
    width: 25vh;
    height: auto;
}
#btns-revisar-cards-deck button {
    background-color: #151F35;
    border-color: #151F35;
    box-shadow: 0px 0.5px 1px 1px rgba(0, 0, 0, 0.493);
    margin-top: 2vh;
}
#centro {
    background-color: #151F35;
    width: 119vh;
    display: flex;
    justify-content: center;
}
#direita {
    align-items: center;
    text-align: center;
}
#direita button {
    margin-top: 4vh;
}