/*PÁGINA BASE*/
#main-container-decks {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0D1526;
}
#main-content-decks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 185vh;
    border-radius: 30px;
    background-color: #151F35;
}
#btn-logout {
    position: absolute;
    top: 1.5vh; 
    right: 1.2vh; 
}

/*PÁGINA DECKS*/
.container {
    width: 80%;
    max-width: 900px;
    height: 86vh;
}

.header {
    display: flex;
    text-align: left;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 85%;
    margin-bottom: 2vh;
}
#btn-addDeck {
    color: white;
    height: 5vh;
    width: 5vh;
    font-size: xx-large;
    border-color: #23DA72;
    background-color: #23DA72;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.493);
    border-radius: 8px;
}
#btn-addDeck:hover {
    background-color: #169c50;
    border-color: #169c50;
}
.decks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5vh;
    width: 100%;
    height: 76vh;
    background-color:#151F35;
    overflow-y: auto;
}
.deck {
    background-color: #23DA72;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}
.deck h2, p {
    color: white;
}
.icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    justify-content: space-around;
}


/*PÁGINA NOVO DECK*/
#info-deck-janela h1 {
    color: white;
}
.novo-deck {
    height: 50vh;
    width: 90vh;
    padding: 3vh;
    border-radius: 20px;
    background-color: #23DA72;
}
.novo-deck label, form {
    font-size: x-large;
    color: white;
    background-color: #23DA72;
}
.novo-deck button, a {
    margin-top: 2vh;
}


/*EDITAR DECK - NOME, DESCRIÇÃO, CARDS*/
#btn-editar-div {
    text-align: center;
}
#btn-editar-cards {
    background-color: #23DA72;
    border: #23DA72;
}
#btn-editar-cards:hover {
    background-color: #169c50;
    border-color: #169c50;
}