<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/styles.css">

    <!-- Bootstrap Framework -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/bootstrap.js" defer></script>
    
</head>
<body>
    <!--Cabeçalho-->
    <header>

    </header>

    <!--Corpo da tela-->
    <div id="main-container">
        <div id="main-content">
            <img src="../static/img/LogoV3.png" width="210" height="210" class="rounded mx-auto d-block">

            <div id="content">
                <form id="login-form" method="get">
                    <label for="email">E-mail</label>
                    <input type="text" name="email" placeholder="name@example.com">

                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="********">
                </form>
            </div>
        </div>
    </div>

    <!--Rodapé-->
    <footer>

    </footer>
</body>
</html>