<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/styles.css">

    <!-- Bootstrap Framework -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/bootstrap.js" defer></script>
    
</head>
<body>
    <!--Cabeçalho-->
    <header>

    </header>

    <!--Corpo da tela-->
    <div id="main-container-login">
        <div id="main-content-login">
            <img src="../static/img/LogoV3.png" width="210" height="210" class="rounded mx-auto d-block">

            <div id="content-login">
                <h1>Sign in</h1>
                <form id="form-login" method="get">
                    <label for="email" class="form-label col-12">E-mail</label>
                    <input type="text" name="email" class="form-control" placeholder="name@example.com">

                    <label for="senha" class="form-label col-12">Senha</label>
                    <input type="password" class="form-control" name="senha" placeholder="********">

                    <button type="submit" class="btn btn-success">Login</button>
                </form>
                <a href="">Não possui uma conta?</a>
            </div>
        </div>
    </div>

    <!--Rodapé-->
    <footer>

    </footer>
</body>
</html>