* {
    background-color: #151F35;
}

#main-container-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-content-login {
    padding: 10px;
}

#content-login {
    width: 50vh;
    padding: 10px;
    margin-top: 3vh;
    color: white;
    background-color: #0D1526;
    border-radius: 50px;
    text-align: center;
}
#content-login form, h1 {
    color: white;
    background-color: #0D1526;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 3vh;
}
#content-login label {
    font-size: larger;
    background-color: #0D1526;
    color: white;
    margin-top: 3vh;
    text-align: left;
}
#content-login input {
    font-size: larger;
    height: 6vh;
    background-color: #151F35;
    border: #151F35;
    color: white;
}
#content-login input::placeholder {
    color: rgba(255, 255, 255, 0.712);
}
#content-login a {
    color: gray;
}
#content-login button {
    background-color: #23DA72;
    font-size:x-large;
    margin-top: 5vh;
    margin-bottom: 12vh;
    width: 30vh;
}