<ion-header>
  <ion-toolbar color="success">
    <ion-title id="titulo">Adicionar Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-padding">
    <ion-card>
      <form (ngSubmit)="adicionarCard()" method="post">
        <ion-item>
          <ion-label position="floating">Frente</ion-label>
          <ion-input type="text" [(ngModel)]="instancia.frente" name="nome" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Verso</ion-label>
          <ion-textarea rows="4" [(ngModel)]="instancia.verso" name="descricao" required></ion-textarea>
        </ion-item>

        <ion-button color="success" type="submit" expand="block">Adicionar Card</ion-button>
        <ion-button color="secondary" type="button" expand="block" (click)="voltarTela()">Cancelar</ion-button>
      </form>
    </ion-card>
  </ion-list>
</ion-content>

