<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="FlashApp logo" src="assets/LogoV3.png" />
    <ion-card-header>
      <ion-card-title>FlashApp</ion-card-title>
      <ion-card-subtitle>Plataforma</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Bem-vindo(a) à plataforma de estudos FlashApp! Aproveite todos os benefícios que podemos oferecer para melhorar seus estudos.
    </ion-card-content>
    <ion-button fill="clear" (click)="redirecionarLogin()">Login</ion-button>
    <ion-button fill="clear" (click)="redirecionarCadastro()">Cadastrar-se</ion-button>
  </ion-card>
</ion-content>
