* {
    background-color: #151F35;
}

/*PÁGINA DE LOGIN*/
#main-container-login {
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-content-login {
    padding: 10px;
}
#content-login {
    width: 50vh;
    padding: 10px;
    margin-top: 3vh;
    color: white;
    background-color: #0D1526;
    border-radius: 50px;
    text-align: center;
}
#content-login form, h1 {
    color: white;
    background-color: #0D1526;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 3vh;
}
#content-login label {
    font-size: larger;
    background-color: #0D1526;
    color: white;
    margin-top: 3vh;
    text-align: left;
}
#content-login input {
    font-size: larger;
    height: 6vh;
    background-color: #151F35;
    border: #151F35;
    color: white;
}
#content-login input::placeholder {
    color: rgba(255, 255, 255, 0.37);
}
#content-login a {
    color: gray;
}
#content-login button {
    background-color: #23DA72;
    font-size:x-large;
    margin-top: 5vh;
    margin-bottom: 12vh;
    width: 30vh;
}

/*PÁGINA DE CADASTRO*/
#main-container-signup {
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-content-signup {
    padding: 10px;
}
#content-signup {
    width: 50vh;
    padding: 10px;
    color: white;
    background-color: #0D1526;
    border-radius: 50px;
    text-align: center;
}
#content-signup form, h1 {
    color: white;
    background-color: #0D1526;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 3vh;
}
#content-signup label {
    font-size: larger;
    background-color: #0D1526;
    color: white;
    margin-top: 2vh;
    text-align: left;
}
#content-signup input {
    font-size: larger;
    height: 6vh;
    background-color: #151F35;
    border: #151F35;
    color: white;
}
#content-signup input::placeholder {
    color: rgba(255, 255, 255, 0.37);
}
#content-signup a {
    color: gray;
}
#content-signup button {
    background-color: #23DA72;
    font-size:x-large;
    margin-top: 5vh;
    margin-bottom: 6vh;
    width: 30vh;
}

/*PÁGINA HOME*/
#main-container-home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#cartao-home {
    color: white;
}
#cartao-home img {
    border: 1px white solid;
}
#cartao-home p {
    font-size: 22px;
}

/*PÁGINA DE EDITAR PERFIL*/
#container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
}
#container-perfil {
    width: 100%;
}
#card-perfil {
    background-color: #0D1526;
    width: 80vh;
    padding: 5vh;
    height: 70vh;
    border-radius: 20px;
}
.logo {
    margin-right: 10vh;
    height: 60vh;
    width: auto;
}
#label-perfil {
    background-color: #0D1526;
    padding: 1vh;
}
#input-perfil {
    background-color: #23DA72;
}